body{
    width: 100%;
    background-image: url("https://images.pexels.com/photos/3862130/pexels-photo-3862130.jpeg?cs=srgb&dl=pexels-thisisengineering-3862130.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}